/*Colores y o tipografías web*/
:root{
    --bg-color: #f0ead2;
    --accent-color: #67202f;
    --base-color: #d22b7a;
    --sec-accent-color: #f269a9;
    --spacing: 20px;
    --r: 18px;
    --shadow: 0 14px 30px rgba(0,0,0,.35);
}

/*Reset OR Normalise*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Scroll animado*/
html{
    scroll-behavior: smooth;
}

/*Body*/
body{
margin: 0;
font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
background-color: var(--bg-color);
color: var(--base-color)
}

/*Header*/
h1,h2,h3,h4,h5,h6{
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    color: var(--accent-color)
}

/*Listas*/
ul{
    list-style-type: none;
}

/*Enlaces*/
a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s; 
}

/* Color para los "enlaces"*/
a:hover{
    color: var(--sec-accent-color)
}

/*Logo*/
.logo-empresa {
width: 150px;
}

/*Barra de arriba*/
.topbar{
position: sticky;
top: 0;
z-index: 20;
backdrop-filter: blur(10px);
background: rgba(15,18,22,.85);
border-bottom: 1px solid var(--line);
padding: 14px 18px;
display: flex;
align-items: center;            
justify-content: space-between; 
}

.brand{
display: flex;
align-items: center;
gap: 12px;
}

.brand-text h1{
margin: 0;
font-size: 30px;
}

.brand-text p{
margin: 3px 0 0;
font-size: 13px;
color: var(--muted);
}

/*Sección HERO*/

.hero {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    text-align: center;         
    min-height: 80vh;           
    background-color: #f2f2f2;  
    padding: 20px;
    background-image: url('../Assets/Other/FondoHero.png'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.hero-left h2 {
    font-size: 2.5rem;         
    margin-bottom: 15px;
}

.hero-left p {
    font-size: 1rem;            
    line-height: 1.5;
    color: #555;                
}

/* HERO Responsive */
@media (max-width: 600px) {
    .hero-left h2 {
        font-size: 1.8rem;
    }

    .hero-left p {
        font-size: 0.9rem;
    }
}

/* ---------------------------------------------------*/
/*Espaciado, color y grosor lineas hr*/
hr {
    border: none;            
    height: 1px;            
    background-color: #ccc;  
    margin: 40px 0;          
}

/* ---------------------------------------------------*/

/*Sección Nuestros Cimientos*/
.nuestros-cimientos {
    max-width: 800px;
    margin: 40px auto;
    padding: 25px;
}

.nuestros-cimientos h3 {
    margin-bottom: 20px;
}

.nuestros-cimientos p {
    margin-bottom: 16px;
    line-height: 1.7;
}

/*Video en la sección Nuestros Cimientos*/
.video {
margin-top: 40px;
text-align: center; 
}

/* Web Responsive */
@media (max-width: 900px){
.hero{ grid-template-columns: 1fr; }
.grid{ grid-template-columns: 1fr; }
}

img {
max-width: 100%;
height: auto;
}